<p id="notice"><%= notice %></p>

<p>
  <strong>Mep:</strong>
  <%= @message.mep_id %>
</p>

<p>
  <strong>From name:</strong>
  <%= @message.from_name %>
</p>

<p>
  <strong>email:</strong>
  <%= @message.from_email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @message.from_location %>
</p>
<!--
<p>
  <strong>Ip address:</strong>
  <%= @message.ip_address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @message.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @message.lng %>
</p>

<p>
  <strong>Uniqueid:</strong>
  <%= @message.uniqueid %>
</p>

<p>
  <strong>Value:</strong>
  <%= @message.value %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
-->

<p>
Find out how the campaign is going, and further groups to get involved with on our about page.
</p>